@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root{
    --bg:0;
    --bgc1:rgb(0, 211, 158);
    --bgc3:rgb(4, 162, 202);
    --bgc2:rgb(3, 221, 138);
}

@property --bgd {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
  }

@keyframes arrow {
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(10%);
    }
    100%{
        transform: translateY(0%);
    }
}


#bgg{
    height: 100vh;
    border-radius: 0%;
    position: fixed;
    width: 100vw;
    z-index: 1;
    background:linear-gradient(20deg,var(--bgc1),var(--bgc2));
    
    animation: bgrotate 2s infinite;
}
body{
    margin: 0;
    padding: 0;
    transition: ease-out;
}

main{
    z-index: 2;
    position: relative;
}

#m1{
    height: 100vh;
    width: 100%;
    animation: bglg 3s infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    justify-content: space-around;
}

#m1img img{

}

#borderr{
}

#m1h1 h1{
    margin: 0;
    transform: translateY(-70%);
    padding:0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 70px;
    color: white;
    transition: ease-out;
}

#m1svg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#m1svg p{
    margin: 0;
    font-family: Outfit;
    font-weight: 300;
    color: white;
}

#m1svg svg{
    fill: white;
    animation: arrow 2s infinite;
}

#usrnm::after{
    content:"jorgetrueba85";
}

#m1h1:hover #usrnm::after{
    content:"Jorge Trueba";
}

#m2{
    height: 100vh;
    width: 100%;  
    background-color: white;
}



/*

:root{
    --bg: #151516;
    --bg2:#1d1d1f;
    --redpnk:#f70f50;
    --arrow:white;
    --texth1:white;
    --arrowtext:white;
    --h1why:0%;
}

#maindiv{
    height: 300rem;
    width: auto;
    background: linear-gradient(to bottom, rgb(0, 211, 158), rgb(3, 221, 138));
}

#main1{
    position: fixed;
    left: 50%;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    transform: translateX(-50%) translateY(var(--h1why));
}

body{
    background-color: var(--bg);
    margin: 0;
}

*{
    scrollbar-width: thin;
}

*::-webkit-scrollbar{
    width: 5px;
  }

*::-webkit-scrollbar-thumb:hover{
    background-color: white;
}

*::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 10%);
}

*::-webkit-scrollbar-track{
    background-color: rgb(0, 211, 158);
}

#heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(30%);

}

#heading img{
    border: white solid 4px;
    border-radius: 50%;
}

h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 70px;
    color: white;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width:0px ;
    margin: 0;
    text-align: center;
    opacity: 1;
}

#arrowdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    bottom: 0;
    
}

#arrow{
    fill: var(--arrow);
    margin: 0px;
    padding: 0px;
    text-align: center;
    animation: arrow 3s ease-in-out infinite;
}

#arrowtext{
    font-family:Quicksand;
    font-weight: 300;
    text-align: center;
    color:var(--arrowtext);
    padding: 0;
    padding-bottom: 0;
    margin: 0px;   
}

@keyframes arrow {
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(10%);
    }
    100%{
        transform: translateY(0%);
    }
}
*/ 