body{
    text-align: center;
}

body::before{
    text-align: center;
    content: 'No printing allowed. La impresión no está permitida, se trata de mi informacion personal y sobre mí. Respeta mi decisión y no intentes desactivar el bloqueo :)';
}

main{
    display: none;
}

#bgg{
    display: none;
}